<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringWebAppUdemy:war exploded">
    <output-path>$PROJECT_DIR$/target/UdemySpringMVCWebApp-1.0-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringWebAppUdemy" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.2" />
          <element id="library" level="project" name="Maven: jstl:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.7.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.21" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.7" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.7" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/UdemySpringMVCWebApp-1.0-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringWebAppUdemy/web/Web" />
    </root>
  </artifact>
</component>